* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-heading {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-heading h1 {
    font-weight: bold;
}